<a href="https://colab.research.google.com/github/ritwiks9635/My_priject_file_4/blob/main/English_to_Hindi_Translate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Dataset == "https://www.kaggle.com/datasets/ umasrikakollu72/hindi-english-truncated-corpus"

Unzip the dataset

In [ ]:
! unzip /content/https:/www.kaggle.com/datasets/umasrikakollu72/hindi-english-truncated-corpus/hindi-english-truncated-corpus.zip

Archive:  /content/https:/www.kaggle.com/datasets/umasrikakollu72/hindi-english-truncated-corpus/hindi-english-truncated-corpus.zip
  inflating: Hindi_English_Truncated_Corpus.csv

Import require model

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file

import string
from string import digits
import re

import seaborn as sns
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from keras.layers import Input, LSTM, Embedding, Dense
from keras.models import Model

<ipython-input-4-bb361eab571c>:25: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [ ]:
## load the dataset

In [ ]:
data=pd.read_csv("Hindi_English_Truncated_Corpus.csv",encoding='utf-8')

In [ ]:
data.head()

      source                                                  english_sentence                                                        hindi_sentence
0  ted        politicians do not have permission to do what needs to be done.   राजनीतिज्ञों के पास जो कार्य करना चाहिए, वह करने कि अनुमति नहीं है .
1  ted        I'd like to tell you about one such child,                        मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहूंगी,
2  indic2012  This percentage is even greater than the percentage in India.     यह प्रतिशत भारत में हिन्दुओं प्रतिशत से अधिक है।
3  ted        what we really mean is that they're bad at not paying attention.  हम ये नहीं कहना चाहते कि वो ध्यान नहीं दे पाते
4  indic2012  .The ending portion of these Vedas is called Upanishad.           इन्हीं वेदों का अंतिम भाग उपनिषद कहलाता है।

Preprocessing the Data

In [ ]:
data['source'].value_counts()

tides        50000
ted          39881
indic2012    37726
Name: source, dtype: int64

In [ ]:
data=data[data['source']=='ted']

In [ ]:
data.head(20)

   source                                                            english_sentence                                                        hindi_sentence
0   ted    politicians do not have permission to do what needs to be done.             राजनीतिज्ञों के पास जो कार्य करना चाहिए, वह करने कि अनुमति नहीं है .
1   ted    I'd like to tell you about one such child,                                  मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहूंगी,
3   ted    what we really mean is that they're bad at not paying attention.            हम ये नहीं कहना चाहते कि वो ध्यान नहीं दे पाते
7   ted    And who are we to say, even, that they are wrong                            और हम होते कौन हैं यह कहने भी वाले कि वे गलत हैं
13  ted    So there is some sort of justice                                            तो वहाँ न्याय है
23  ted    This changed slowly                                                         धीरे धीरे ये सब बदला
26  ted    were being produced.                                                        उत्पन्न नहीं कि जाती थी.
30  ted    And you can see, this LED is going to glow.                                 और जैसा आप देख रहे है, ये एल.ई.डी. जल उठेगी।
32  ted    to turn on the lights or to bring him a glass of water,                     लाईट जलाने के लिए या उनके लिए पानी लाने के लिए,
35  ted    Can you imagine saying that?                                                क्या आप ये कल्पना कर सकते है
37  ted    Three: this is a good road in - right near where our factory is located.    तीसरी: ये हमारी फ़ैक्ट्री के पास की एक अपेक्षाकृत बेहतर सडक है।
39  ted    What's going on?”                                                           क्या हो रहा है ये?”
42  ted    There are also financial reforms in rural China.                            ग्रामीण चीन में आर्थिक नवीनीकरण हुये हैं।
49  ted    the family planning started in Vietnam and they went for smaller families.  वियतनाम में परिवार योजना शुरू हो गई और उनके परिवार छोटे होने लगे।
51  ted    I mean, at that time, trust me,                                             मेरा मतलब, उस समय, सही मानिए,
53  ted    Not only that,                                                              बस वही नहीं,
55  ted    humans destroyed the commons that they depended on.                         मानवों ने उन ही साझे संसाधनों को नष्ट किया जिन पर वो आधारित थे।
56  ted    Almost goes to E, but otherwise the play would be over.                     रचना करीब करीब ई तक जाती है, मगर तब तो नाटक ख़त्म हो जाएगा.
63  ted    So I want to share with you a couple key insights                           मैं आपके साथ कुछ मुख्य सूत्र बाँटना चाहता हूँ
66  ted    Many countries in the [unclear], they need legitimacy.                      [अस्पष्ट] के बहुत सारे राष्ट्रों को मान्यता चाहिए.

In [ ]:
pd.isnull(data).sum()

source              0
english_sentence    0
hindi_sentence      0
dtype: int64

In [ ]:
data=data[~pd.isnull(data['english_sentence'])]

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data=data.sample(n=25000,random_state=42)
data.shape

(25000, 3)

In [ ]:
# Lowercase all characters
data['english_sentence']=data['english_sentence'].apply(lambda x: x.lower())
data['hindi_sentence']=data['hindi_sentence'].apply(lambda x: x.lower())

In [ ]:
# Remove quotes
data['english_sentence']=data['english_sentence'].apply(lambda x: re.sub("'", '', x))
data['hindi_sentence']=data['hindi_sentence'].apply(lambda x: re.sub("'", '', x))

In [ ]:
# Set of all special characters
exclude = set(string.punctuation) 
# Remove all the special characters
data['english_sentence']=data['english_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))
data['hindi_sentence']=data['hindi_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))

In [ ]:
# Remove all numbers from text
remove_digits = str.maketrans('', '', digits)
data['english_sentence']=data['english_sentence'].apply(lambda x: x.translate(remove_digits))
data['hindi_sentence']=data['hindi_sentence'].apply(lambda x: x.translate(remove_digits))

data['hindi_sentence'] = data['hindi_sentence'].apply(lambda x: re.sub("[२३०८१५७९४६]", "", x))

# Remove extra spaces
data['english_sentence']=data['english_sentence'].apply(lambda x: x.strip())
data['hindi_sentence']=data['hindi_sentence'].apply(lambda x: x.strip())
data['english_sentence']=data['english_sentence'].apply(lambda x: re.sub(" +", " ", x))
data['hindi_sentence']=data['hindi_sentence'].apply(lambda x: re.sub(" +", " ", x))

In [ ]:
# Add start and end tokens to target sequences
data['hindi_sentence'] = data['hindi_sentence'].apply(lambda x : 'START_ '+ x + ' _END')

In [ ]:
data.head()

       source                                                                           english_sentence                                                                                            hindi_sentence
82040   ted    we still dont know who her parents are who she is                                          START_ हम अभी तक नहीं जानते हैं कि उसके मातापिता कौन हैं वह कौन है _END
85038   ted    no keyboard                                                                                START_ कोई कुंजीपटल नहीं _END
58018   ted    but as far as being a performer                                                            START_ लेकिन एक कलाकार होने के साथ _END
74470   ted    and this particular balloon                                                                START_ और यह खास गुब्बारा _END
122330  ted    and its not as hard as you think integrate climate solutions into all of your innovations  START_ और जितना आपको लगता है यह उतना कठिन नहीं हैअपने सभी नवाचारों में जलवायु समाधान को एकीकृत करें _END

Tokenize the text data

In [ ]:
### Get English and Hindi Vocabulary
all_eng_words=set()
for eng in data['english_sentence']:
    for word in eng.split():
        if word not in all_eng_words:
            all_eng_words.add(word)

all_hindi_words=set()
for hin in data['hindi_sentence']:
    for word in hin.split():
        if word not in all_hindi_words:
            all_hindi_words.add(word)

In [ ]:
len(all_eng_words)

14030

In [ ]:
len(all_hindi_words)

17540

In [ ]:
data['length_eng_sentence']=data['english_sentence'].apply(lambda x:len(x.split(" ")))
data['length_hin_sentence']=data['hindi_sentence'].apply(lambda x:len(x.split(" ")))

In [ ]:
data.head()

       source                                                                           english_sentence                                                                                            hindi_sentence  length_eng_sentence  length_hin_sentence
82040   ted    we still dont know who her parents are who she is                                          START_ हम अभी तक नहीं जानते हैं कि उसके मातापिता कौन हैं वह कौन है _END                                   11                   16
85038   ted    no keyboard                                                                                START_ कोई कुंजीपटल नहीं _END                                                                             2                    5
58018   ted    but as far as being a performer                                                            START_ लेकिन एक कलाकार होने के साथ _END                                                                   7                    8
74470   ted    and this particular balloon                                                                START_ और यह खास गुब्बारा _END                                                                            4                    6
122330  ted    and its not as hard as you think integrate climate solutions into all of your innovations  START_ और जितना आपको लगता है यह उतना कठिन नहीं हैअपने सभी नवाचारों में जलवायु समाधान को एकीकृत करें _END  16                   20

In [ ]:
data[data['length_eng_sentence']>30].shape

(0, 5)

In [ ]:
data=data[data['length_eng_sentence']<=20]
data=data[data['length_hin_sentence']<=20]

In [ ]:
data.shape

(24774, 5)

In [ ]:
print("maximum length of Hindi Sentence ",max(data['length_hin_sentence']))
print("maximum length of English Sentence ",max(data['length_eng_sentence']))

maximum length of Hindi Sentence  20
maximum length of English Sentence  20

In [ ]:
max_length_src=max(data['length_hin_sentence'])
max_length_tar=max(data['length_eng_sentence'])

In [ ]:
input_words = sorted(list(all_eng_words))
target_words = sorted(list(all_hindi_words))
num_encoder_tokens = len(all_eng_words)
num_decoder_tokens = len(all_hindi_words)
num_encoder_tokens, num_decoder_tokens

In [ ]:
#for zero padding
num_decoder_tokens += 1

In [ ]:
input_token_index = dict([(word, i+1) for i, word in enumerate(input_words)])
target_token_index = dict([(word, i+1) for i, word in enumerate(target_words)])

In [ ]:
reverse_input_char_index = dict((i, word) for word, i in input_token_index.items())
reverse_target_char_index = dict((i, word) for word, i in target_token_index.items())

In [ ]:
data = shuffle(data)
data.head(10)

       source                                                        english_sentence                                                        hindi_sentence  length_eng_sentence  length_hin_sentence
108086  ted    ok katrina prior to katrina the south bronx and new orleans ninth ward  START_ ठीक है कैटरीना कैटरीना से पहले साऊथ ब्रोंकस तथा _END           13                   11
99620   ted    we have to engage with the machinery of government                      START_ हमें सरकारी तंत्र से जुड़ना होगा _END                          9                    8
72023   ted    is a far smarter way to go                                              START_ वाकई कहीं अधिक चतुर तरीका है _END                              7                    8
97982   ted    we have amazing antenna                                                 START_ हमारे परखने की क्षमता बहुत अच्छी होती है _END                  4                    10
62834   ted    now if youll take a look at this image file                             START_ अब यदि आप इस छवि फ़ाइल को एक नज़र देखोगे _END                  10                   12
34637   ted    but it was obvious to me right buy low sell high                        START_ ये मुझे प्राकृतिक रूप से पता था सस्ता खरीदो महँगा बेचो । _END  11                   14
88284   ted    by the way who never see the president except on television             START_ जो कि राष्ट्रपति को कभी नहीं देख पाते सिवाय टेलिविज़न पे _END  11                   13
98063   ted    so when this came up in my local shop naturally i was                   START_ तो स्वाभाविक रूप से जब यह अपने स्थानीय दुकान में आई थी _END    12                   14
125779  ted    of how we live in the world                                             START_ बेहतर तरीके से जी सकें _END                                    7                    7
73918   ted    rather than because of it                                               START_ बल्कि उसके अभाव में पनपते हैं _END                             5                    8

Split the data for training

In [ ]:
X, y = data['english_sentence'], data['hindi_sentence']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=42)
X_train.shape, X_test.shape

((19819,), (4955,))

Generate batch

In [ ]:
def generate_batch(X = X_train, y = y_train, batch_size = 128):
    ''' Generate a batch of data '''
    while True:
        for j in range(0, len(X), batch_size):
            encoder_input_data = np.zeros((batch_size, max_length_src),dtype='float32')
            decoder_input_data = np.zeros((batch_size, max_length_tar),dtype='float32')
            decoder_target_data = np.zeros((batch_size, max_length_tar, num_decoder_tokens),dtype='float32')
            for i, (input_text, target_text) in enumerate(zip(X[j:j+batch_size], y[j:j+batch_size])):
                for t, word in enumerate(input_text.split()):
                    encoder_input_data[i, t] = input_token_index[word] # encoder input seq
                for t, word in enumerate(target_text.split()):
                    if t<len(target_text.split())-1:
                        decoder_input_data[i, t] = target_token_index[word] # decoder input seq
                    if t>0:
                        # decoder target sequence (one hot encoded)
                        # does not include the START_ token
                        # Offset by one timestep
                        decoder_target_data[i, t - 1, target_token_index[word]] = 1.
            yield([encoder_input_data, decoder_input_data], decoder_target_data)

In [ ]:
latent_dim=300

Create Model Architecture

In [ ]:
# Encoder
encoder_inputs = Input(shape=(None,))
enc_emb =  Embedding(num_encoder_tokens, latent_dim, mask_zero = True)(encoder_inputs)
encoder_lstm = LSTM(latent_dim, return_state=True)
encoder_outputs, state_h, state_c = encoder_lstm(enc_emb)
# We discard `encoder_outputs` and only keep the states.
encoder_states = [state_h, state_c]

In [ ]:
# Set up the decoder, using `encoder_states` as initial state.
decoder_inputs = Input(shape=(None,))
dec_emb_layer = Embedding(num_decoder_tokens, latent_dim, mask_zero = True)
dec_emb = dec_emb_layer(decoder_inputs)
# We set up our decoder to return full output sequences,
# and to return internal states as well. We don't use the
# return states in the training model, but we will use them in inference.
decoder_lstm = LSTM(latent_dim, return_sequences=True, return_state=True)
decoder_outputs, _, _ = decoder_lstm(dec_emb,
                                     initial_state=encoder_states)
decoder_dense = Dense(num_decoder_tokens, activation='softmax')
decoder_outputs = decoder_dense(decoder_outputs)

# Define the model that will turn
# `encoder_input_data` & `decoder_input_data` into `decoder_target_data`
model = Model([encoder_inputs, decoder_inputs], decoder_outputs)

Compile The Model

In [ ]:
model.compile(optimizer='rmsprop', loss='categorical_crossentropy')

In [ ]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, None)]       0           []

 input_2 (InputLayer)           [(None, None)]       0           []

 embedding (Embedding)          (None, None, 300)    4209000     ['input_1[0][0]']

 embedding_1 (Embedding)        (None, None, 300)    5262300     ['input_2[0][0]']

 lstm (LSTM)                    [(None, 300),        721200      ['embedding[0][0]']
                                 (None, 300),
                                 (None, 300)]

 lstm_1 (LSTM)                  [(None, None, 300),  721200      ['embedding_1[0][0]',
                                 (None, 300),                     'lstm[0][1]',
                                 (None, 300)]                     'lstm[0][2]']

 dense (Dense)                  (None, None, 17541)  5279841     ['lstm_1[0][0]']

==================================================================================================
Total params: 16,193,541
Trainable params: 16,193,541
Non-trainable params: 0
__________________________________________________________________________________________________

Training The Model

In [ ]:
train_samples = len(X_train)
val_samples = len(X_test)
batch_size = 128
epochs = 100

In [ ]:
model.fit_generator(generator = generate_batch(X_train, y_train, batch_size = batch_size),
                    steps_per_epoch = train_samples//batch_size,
                    epochs=epochs,
                    validation_data = generate_batch(X_test, y_test, batch_size = batch_size),
                    validation_steps = val_samples//batch_size)

<ipython-input-45-b22c3ec5e69e>:1: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  model.fit_generator(generator = generate_batch(X_train, y_train, batch_size = batch_size),

Epoch 1/100
154/154 [==============================] - 86s 460ms/step - loss: 6.9479 - val_loss: 6.3514
Epoch 2/100
154/154 [==============================] - 53s 341ms/step - loss: 6.3076 - val_loss: 6.3039
Epoch 3/100
154/154 [==============================] - 53s 342ms/step - loss: 6.2627 - val_loss: 6.2907
Epoch 4/100
154/154 [==============================] - 53s 342ms/step - loss: 6.2248 - val_loss: 6.2545
Epoch 5/100
154/154 [==============================] - 53s 342ms/step - loss: 6.1572 - val_loss: 6.1781
Epoch 6/100
154/154 [==============================] - 53s 342ms/step - loss: 6.0754 - val_loss: 6.1189
Epoch 7/100
154/154 [==============================] - 53s 344ms/step - loss: 6.0046 - val_loss: 6.0448
Epoch 8/100
154/154 [==============================] - 52s 340ms/step - loss: 5.9233 - val_loss: 5.9735
Epoch 9/100
154/154 [==============================] - 52s 341ms/step - loss: 5.8505 - val_loss: 5.9279
Epoch 10/100
154/154 [==============================] - 53s 343ms/step - loss: 5.7911 - val_loss: 5.8762
Epoch 11/100
154/154 [==============================] - 53s 344ms/step - loss: 5.7293 - val_loss: 5.8294
Epoch 12/100
154/154 [==============================] - 53s 342ms/step - loss: 5.6716 - val_loss: 5.7862
Epoch 13/100
154/154 [==============================] - 52s 341ms/step - loss: 5.6148 - val_loss: 5.7559
Epoch 14/100
154/154 [==============================] - 53s 343ms/step - loss: 5.5641 - val_loss: 5.7167
Epoch 15/100
154/154 [==============================] - 53s 347ms/step - loss: 5.5141 - val_loss: 5.6951
Epoch 16/100
154/154 [==============================] - 54s 348ms/step - loss: 5.4652 - val_loss: 5.6713
Epoch 17/100
154/154 [==============================] - 54s 350ms/step - loss: 5.4186 - val_loss: 5.6206
Epoch 18/100
154/154 [==============================] - 53s 347ms/step - loss: 5.3735 - val_loss: 5.6013
Epoch 19/100
154/154 [==============================] - 54s 349ms/step - loss: 5.3309 - val_loss: 5.5775
Epoch 20/100
154/154 [==============================] - 53s 347ms/step - loss: 5.2883 - val_loss: 5.5505
Epoch 21/100
154/154 [==============================] - 54s 350ms/step - loss: 5.2448 - val_loss: 5.5250
Epoch 22/100
154/154 [==============================] - 54s 355ms/step - loss: 5.2004 - val_loss: 5.5039
Epoch 23/100
154/154 [==============================] - 53s 346ms/step - loss: 5.1591 - val_loss: 5.4733
Epoch 24/100
154/154 [==============================] - 55s 356ms/step - loss: 5.1165 - val_loss: 5.4589
Epoch 25/100
154/154 [==============================] - 54s 351ms/step - loss: 5.0768 - val_loss: 5.4434
Epoch 26/100
154/154 [==============================] - 54s 352ms/step - loss: 5.0359 - val_loss: 5.4095
Epoch 27/100
154/154 [==============================] - 53s 347ms/step - loss: 4.9959 - val_loss: 5.4130
Epoch 28/100
154/154 [==============================] - 53s 346ms/step - loss: 4.9583 - val_loss: 5.3898
Epoch 29/100
154/154 [==============================] - 53s 346ms/step - loss: 4.9201 - val_loss: 5.3692
Epoch 30/100
154/154 [==============================] - 53s 346ms/step - loss: 4.8821 - val_loss: 5.3621
Epoch 31/100
154/154 [==============================] - 53s 343ms/step - loss: 4.8450 - val_loss: 5.3476
Epoch 32/100
154/154 [==============================] - 53s 345ms/step - loss: 4.8077 - val_loss: 5.3245
Epoch 33/100
154/154 [==============================] - 53s 345ms/step - loss: 4.7721 - val_loss: 5.3092
Epoch 34/100
154/154 [==============================] - 53s 345ms/step - loss: 4.7344 - val_loss: 5.3073
Epoch 35/100
154/154 [==============================] - 54s 349ms/step - loss: 4.7000 - val_loss: 5.2979
Epoch 36/100
154/154 [==============================] - 52s 341ms/step - loss: 4.6637 - val_loss: 5.3070
Epoch 37/100
154/154 [==============================] - 53s 344ms/step - loss: 4.6294 - val_loss: 5.2807
Epoch 38/100
154/154 [==============================] - 53s 343ms/step - loss: 4.5930 - val_loss: 5.2852
Epoch 39/100
154/154 [==============================] - 53s 342ms/step - loss: 4.5601 - val_loss: 5.2611
Epoch 40/100
154/154 [==============================] - 53s 343ms/step - loss: 4.5261 - val_loss: 5.2527
Epoch 41/100
154/154 [==============================] - 53s 343ms/step - loss: 4.4927 - val_loss: 5.2508
Epoch 42/100
154/154 [==============================] - 53s 344ms/step - loss: 4.4599 - val_loss: 5.2474
Epoch 43/100
154/154 [==============================] - 53s 344ms/step - loss: 4.4285 - val_loss: 5.2426
Epoch 44/100
154/154 [==============================] - 53s 346ms/step - loss: 4.3947 - val_loss: 5.2384
Epoch 45/100
154/154 [==============================] - 53s 344ms/step - loss: 4.3627 - val_loss: 5.2371
Epoch 46/100
154/154 [==============================] - 53s 346ms/step - loss: 4.3323 - val_loss: 5.2312
Epoch 47/100
154/154 [==============================] - 53s 345ms/step - loss: 4.2994 - val_loss: 5.2299
Epoch 48/100
154/154 [==============================] - 53s 347ms/step - loss: 4.2686 - val_loss: 5.2192
Epoch 49/100
154/154 [==============================] - 53s 346ms/step - loss: 4.2374 - val_loss: 5.2149
Epoch 50/100
154/154 [==============================] - 53s 342ms/step - loss: 4.2064 - val_loss: 5.2147
Epoch 51/100
154/154 [==============================] - 53s 342ms/step - loss: 4.1758 - val_loss: 5.2112
Epoch 52/100
154/154 [==============================] - 53s 345ms/step - loss: 4.1449 - val_loss: 5.2074
Epoch 53/100
154/154 [==============================] - 52s 340ms/step - loss: 4.1138 - val_loss: 5.2125
Epoch 54/100
154/154 [==============================] - 53s 342ms/step - loss: 4.0825 - val_loss: 5.2154
Epoch 55/100
154/154 [==============================] - 53s 343ms/step - loss: 4.0520 - val_loss: 5.2171
Epoch 56/100
154/154 [==============================] - 53s 344ms/step - loss: 4.0235 - val_loss: 5.2178
Epoch 57/100
154/154 [==============================] - 53s 346ms/step - loss: 3.9911 - val_loss: 5.2249
Epoch 58/100
154/154 [==============================] - 53s 345ms/step - loss: 3.9611 - val_loss: 5.2116
Epoch 59/100
154/154 [==============================] - 52s 342ms/step - loss: 3.9309 - val_loss: 5.2258
Epoch 60/100
154/154 [==============================] - 53s 343ms/step - loss: 3.9011 - val_loss: 5.2181
Epoch 61/100
154/154 [==============================] - 53s 345ms/step - loss: 3.8720 - val_loss: 5.2249
Epoch 62/100
154/154 [==============================] - 53s 345ms/step - loss: 3.8414 - val_loss: 5.2249
Epoch 63/100
154/154 [==============================] - 53s 346ms/step - loss: 3.8105 - val_loss: 5.2482
Epoch 64/100
154/154 [==============================] - 53s 346ms/step - loss: 3.7821 - val_loss: 5.2330
Epoch 65/100
154/154 [==============================] - 53s 347ms/step - loss: 3.7532 - val_loss: 5.2425
Epoch 66/100
154/154 [==============================] - 53s 348ms/step - loss: 3.7240 - val_loss: 5.2431
Epoch 67/100
154/154 [==============================] - 53s 345ms/step - loss: 3.6957 - val_loss: 5.2395
Epoch 68/100
154/154 [==============================] - 53s 345ms/step - loss: 3.6653 - val_loss: 5.2579
Epoch 69/100
154/154 [==============================] - 53s 342ms/step - loss: 3.6364 - val_loss: 5.2626
Epoch 70/100
154/154 [==============================] - 53s 343ms/step - loss: 3.6065 - val_loss: 5.2657
Epoch 71/100
154/154 [==============================] - 53s 343ms/step - loss: 3.5791 - val_loss: 5.2676
Epoch 72/100
154/154 [==============================] - 53s 342ms/step - loss: 3.5484 - val_loss: 5.2740
Epoch 73/100
154/154 [==============================] - 53s 347ms/step - loss: 3.5203 - val_loss: 5.2726
Epoch 74/100
154/154 [==============================] - 53s 343ms/step - loss: 3.4932 - val_loss: 5.2846
Epoch 75/100
154/154 [==============================] - 53s 342ms/step - loss: 3.4627 - val_loss: 5.3000
Epoch 76/100
154/154 [==============================] - 52s 341ms/step - loss: 3.4336 - val_loss: 5.2918
Epoch 77/100
154/154 [==============================] - 53s 343ms/step - loss: 3.4060 - val_loss: 5.3064
Epoch 78/100
154/154 [==============================] - 53s 343ms/step - loss: 3.3762 - val_loss: 5.3187
Epoch 79/100
154/154 [==============================] - 53s 345ms/step - loss: 3.3482 - val_loss: 5.3231
Epoch 80/100
154/154 [==============================] - 54s 349ms/step - loss: 3.3202 - val_loss: 5.3329
Epoch 81/100
154/154 [==============================] - 53s 347ms/step - loss: 3.2904 - val_loss: 5.3357
Epoch 82/100
154/154 [==============================] - 53s 345ms/step - loss: 3.2629 - val_loss: 5.3501
Epoch 83/100
154/154 [==============================] - 53s 346ms/step - loss: 3.2348 - val_loss: 5.3545
Epoch 84/100
154/154 [==============================] - 53s 345ms/step - loss: 3.2048 - val_loss: 5.3523
Epoch 85/100
154/154 [==============================] - 52s 341ms/step - loss: 3.1765 - val_loss: 5.3686
Epoch 86/100
154/154 [==============================] - 53s 346ms/step - loss: 3.1480 - val_loss: 5.3671
Epoch 87/100
154/154 [==============================] - 54s 350ms/step - loss: 3.1189 - val_loss: 5.3913
Epoch 88/100
154/154 [==============================] - 53s 344ms/step - loss: 3.0908 - val_loss: 5.3889
Epoch 89/100
154/154 [==============================] - 52s 339ms/step - loss: 3.0615 - val_loss: 5.4024
Epoch 90/100
154/154 [==============================] - 52s 337ms/step - loss: 3.0340 - val_loss: 5.4042
Epoch 91/100
154/154 [==============================] - 52s 337ms/step - loss: 3.0045 - val_loss: 5.4247
Epoch 92/100
154/154 [==============================] - 52s 341ms/step - loss: 2.9766 - val_loss: 5.4412
Epoch 93/100
154/154 [==============================] - 52s 341ms/step - loss: 2.9468 - val_loss: 5.4386
Epoch 94/100
154/154 [==============================] - 52s 338ms/step - loss: 2.9178 - val_loss: 5.4592
Epoch 95/100
154/154 [==============================] - 53s 346ms/step - loss: 2.8885 - val_loss: 5.4688
Epoch 96/100
154/154 [==============================] - 53s 342ms/step - loss: 2.8609 - val_loss: 5.4839
Epoch 97/100
154/154 [==============================] - 53s 341ms/step - loss: 2.8313 - val_loss: 5.4907
Epoch 98/100
154/154 [==============================] - 52s 339ms/step - loss: 2.8036 - val_loss: 5.4986
Epoch 99/100
154/154 [==============================] - 52s 338ms/step - loss: 2.7754 - val_loss: 5.5125
Epoch 100/100
154/154 [==============================] - 52s 335ms/step - loss: 2.7468 - val_loss: 5.5320

Evaluate and Predict the model

In [ ]:
# Encode the input sequence to get the "thought vectors"
encoder_model = Model(encoder_inputs, encoder_states)

# Decoder setup
# Below tensors will hold the states of the previous time step
decoder_state_input_h = Input(shape=(latent_dim,))
decoder_state_input_c = Input(shape=(latent_dim,))
decoder_states_inputs = [decoder_state_input_h, decoder_state_input_c]

dec_emb2= dec_emb_layer(decoder_inputs) # Get the embeddings of the decoder sequence

# To predict the next word in the sequence, set the initial states to the states from the previous time step
decoder_outputs2, state_h2, state_c2 = decoder_lstm(dec_emb2, initial_state=decoder_states_inputs)
decoder_states2 = [state_h2, state_c2]
decoder_outputs2 = decoder_dense(decoder_outputs2) # A dense softmax layer to generate prob dist. over the target vocabulary

# Final decoder model
decoder_model = Model(
    [decoder_inputs] + decoder_states_inputs,
    [decoder_outputs2] + decoder_states2)

In [ ]:
def decode_sequence(input_seq):
    # Encode the input as state vectors.
    states_value = encoder_model.predict(input_seq)
    # Generate empty target sequence of length 1.
    target_seq = np.zeros((1,1))
    # Populate the first character of target sequence with the start character.
    target_seq[0, 0] = target_token_index['START_']

    # Sampling loop for a batch of sequences
    # (to simplify, here we assume a batch of size 1).
    stop_condition = False
    decoded_sentence = ''
    while not stop_condition:
        output_tokens, h, c = decoder_model.predict([target_seq] + states_value)

        # Sample a token
        sampled_token_index = np.argmax(output_tokens[0, -1, :])
        sampled_char = reverse_target_char_index[sampled_token_index]
        decoded_sentence += ' '+sampled_char

        # Exit condition: either hit max length
        # or find stop character.
        if (sampled_char == '_END' or
           len(decoded_sentence) > 50):
            stop_condition = True

        # Update the target sequence (of length 1).
        target_seq = np.zeros((1,1))
        target_seq[0, 0] = sampled_token_index

        # Update states
        states_value = [h, c]

    return decoded_sentence

In [ ]:
train_gen = generate_batch(X_train, y_train, batch_size = 1)
k=-1

In [ ]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input English sentence:', X_train[k:k+1].values[0])
print('Actual Hindi Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted Hindi Translation:', decoded_sentence[:-4])

1/1 [==============================] - 2s 2s/step
1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 25ms/step
Input English sentence: so how did that happen
Actual Hindi Translation:  तो यह कैसे हुआ
Predicted Hindi Translation:  तो अब तक

In [ ]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input English sentence:', X_train[k:k+1].values[0])
print('Actual Hindi Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted Hindi Translation:', decoded_sentence[:-4])

1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 29ms/step
1/1 [==============================] - 0s 23ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 23ms/step
1/1 [==============================] - 0s 24ms/step
1/1 [==============================] - 0s 23ms/step
Input English sentence: well we make lots and lots of pumps
Actual Hindi Translation:  हम बहुत सारे पम्प बनाते हैं।
Predicted Hindi Translation:  हम बहुत सारे प्रकार के लिए तैयार हो जाते हैं

In [ ]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input English sentence:', X_train[k:k+1].values[0])
print('Actual Hindi Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted Hindi Translation:', decoded_sentence[:-4])

1/1 [==============================] - 0s 88ms/step
1/1 [==============================] - 0s 97ms/step
1/1 [==============================] - 0s 107ms/step
1/1 [==============================] - 0s 119ms/step
1/1 [==============================] - 0s 68ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 107ms/step
Input English sentence: in fact i did it first
Actual Hindi Translation:  असल में मैंने इसे पहले किया
Predicted Hindi Translation:  असल में मैंने यह किया